  
  <section id="intro" >
		<div class="container border-bottom-0">
			<div class="row feature-content">
				<div class="col-lg-6 ">
					<h2>Noi recomandam, tu vizionezi</h2>
					<p class="lead">Moviemmend va fi cel mai bun prieten al cinefililor, al persoanelor aflate in lipsa de inspiratie si
              chiar al celor mai deosebiti dintre noi care vor mereu filmele pe placul lor.
              </p>
				</div>
				<div class="col-lg-6 text-sm-center d-none d-lg-block ">
					<img class="mov1" src="./assets/images/mov1.png" alt="movie">
				</div>
			</div>
		</div>
  </section>

<div id="band"> 
<img class="uptape" src="./assets/images/t1.png" alt="tape">
<mdb-carousel class="carousel" [isControls]="false" [animation]="'slide'" [interval]="'3000'">
    <mdb-carousel-item>
      <div class="tape">
        <div class="container">
            <div class="row rowImages">
                <div class="col">
                    <a [routerLink]="['/profile-movies/1']"><img src="./assets/images/venom.jpg" alt="venom"></a>
                  </div>
                <div class="col">
                    <a><img src="./assets/images/avengers.jpg" alt="aquaman"></a>
                  </div>
                <div class="col">
                    <a><img src="./assets/images/bohemian.jpg" alt="bohemian"></a>
                  </div>
                  <div class="col">
                      <a><img src="./assets/images/fallout.jpg" alt="fallout"></a>
                    </div>
                    <div class="col">
                        <a><img src="./assets/images/creed.jpg" alt="creed"></a>
                      </div>
              </div> 
          </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="tape">
        <div class="container">
            <div class="row rowImages">
              <div class="col">
                  <a><img src="./assets/images/firstman.jpg" alt="firstman"></a>
                </div>
              <div class="col">
                  <a><img src="./assets/images/aquaman.jpg" alt="avengers"></a>
                </div>
              <div class="col">
                  <a><img src="./assets/images/halloween.jpg" alt="halloween"></a>
                </div>
                <div class="col">
                    <a><img src="./assets/images/fantastic.jpg" alt="fantastic"></a>
                  </div>
                  <div class="col">
                      <a><img src="./assets/images/incredibles.jpg" alt="incredibles"></a>
                    </div>
            </div>
          </div>   
        </div> 
      </mdb-carousel-item>

  </mdb-carousel>

  <img class="downtape" src="./assets/images/t2.png" alt="tape">
</div>







